<%= render 'onsens/region-nav' %>

<h1><%= @current_region %>の温泉</h1>

<ul class="onsen-list">
  <% @onsens.each do |onsen| %>
    <li>
      <%= link_to onsen.name, onsen_path(onsen) %> <!-- 温泉の詳細ページへのリンク -->
    </li>
  <% end %>
</ul>
