<div class="top-container">
  <section class="bg1">
    <div id="login-container">
      <h2>日本の温泉地</h2>
      <div class="search-container">
        <input type="text" placeholder="キーワードを入力..." class="search-input">
        <button class="search-button">🔍</button>
      </div>
      <div class="login-links">
        <a href="<%= new_user_registration_path %>" class="login-link">新規登録</a>
        <a href="<%= new_user_session_path %>" class="login-link">ログイン</a>
        <a href="<%= guest_login_path %>" class="login-link">ゲストログイン</a>
      </div>
    </div>
  </section>
</div>
