/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

 .navbar {
   background-color: #fff;
   border-bottom: 2px solid #e6b200;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 .navbar-nav .nav-item .nav-link {
   color: #444;
   font-weight: 500;
   font-size: 1.1rem;
   padding: 10px 20px;
   transition: color 0.3s ease, background-color 0.3s ease;
 }
 
 .navbar-nav .nav-item .nav-link i {
   margin-right: 5px;
 }
 
 .navbar-nav .nav-item .nav-link:hover {
   background-color: #e6b200;
   color: #fff;
   border-radius: 8px;
 }

 .nav-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
 }
 
 .dropdown-menu {
   background-color: #fff;
   border-radius: 8px;
   border: none;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 }
 
 .dropdown-item {
   color: #444;
   padding: 10px 20px;
   transition: background-color 0.3s ease, color 0.3s ease;
 }
 
 .dropdown-item:hover {
   background-color: #e6b200;
   color: #fff;
 }
 
 .navbar-nav {
   align-items: center;
 }
 
 .search_container {
   box-sizing: border-box;
   position: relative;
   border: 1px solid #999;
   padding: 3px 10px;
   border-radius: 20px;
   height: 2.3em;
   width: 260px;
   overflow: hidden;
   margin-left: auto;
 }
 
 .search_container input[type="text"] {
   border: none;
   height: 2.0em;
 }
 
 .search_container input[type="text"]:focus {
   outline: 0;
 }
 
 .search_container input[type="submit"] {
   cursor: pointer;
   font-family: FontAwesome;
   font-size: 1.3em;
   border: none;
   background: none;
   color: #3879D9;
   position: absolute;
   width: 2.5em;
   height: 2.5em;
   right: 0;
   top: -10px;
   outline: none;
 }
 
 .footer {
   background-color: #2c3e50;
   color: #ecf0f1;
   padding: 40px 20px;
   text-align: center;
 }
 
 .footer-content {
   max-width: 800px;
   margin: 0 auto;
 }
 
 .footer-copyright {
   font-size: 14px;
   margin-bottom: 10px;
 }
 
 .footer-description {
   font-size: 16px;
 }
 
 .footer-skills {
   font-size: 14px;
   margin-bottom: 20px;
 }
 
 .footer-contact {
   font-size: 14px;
   margin-bottom: 20px;
 }
 
 .social-icon {
   color: #ecf0f1;
   font-size: 24px;
   margin: 0 10px;
   transition: color 0.3s;
 }
 
 .social-icon:hover {
   color: #e74c3c;
 }
 
 .footer-projects {
   font-size: 14px;
 }
