.form-body {
  background: url("https://user0514.cdnw.net/shared/img/thumb/YAMA_DSC1754_TP_V.jpg") no-repeat center center;
  background-size: cover;
  padding: 60px;
}

.card {
  border: none;
  width: 70%;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.text-center {
  margin-bottom: 10px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.card-body {
  padding: 30px;
  max-height: 696.63px;
  overflow-y: auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
textarea,
select {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button,
input[type="submit"] {
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #007bff;
  transition: background-color 0.3s;
}

button:hover,
input[type="submit"]:hover {
  background-color: #0056b3;
}

.text-danger {
  color: #dc3545;
  font-size: 14px;
}

.custom-checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.check-box {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
}

.check-label {
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: calc(30% - 30px);
  position: relative;
}

.img-preview {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.img-preview:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: rgba(255, 0, 0, 0.3);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-btn:hover {
  background: rgba(255, 0, 0, 1);
}

.description-input {
  margin-top: 5px;
  width: 100px;
  transition: all 0.3s ease;
}

.onsen-detail-body {
  margin: 0 auto;
  padding: 20px;
  background: url("https://user0514.cdnw.net/shared/img/thumb/YAMA_DSC1754_TP_V.jpg") no-repeat center center;
  background-size: cover;
}

.detail-card {
  border: none;
  max-width: 70%;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.detail-card-body {
  display: flex;
}

.onsen-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.detail-image-container {
  width: 100%;
  max-width: 450px;
  aspect-ratio: 1 / 1;
  margin-bottom: 10px;
  overflow: hidden;
}

.detail-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.detail-image-description {
  width: 100%;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}

.onsen-info-container {
  flex: 1;
  padding: 20px;
}

.inline-info {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.onsen-info {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.onsen-location {
  font-weight: bold;
}

.water-quality-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.water-quality-name {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #e0f7fa;
}

.btn {
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

.region-nav {
  border-bottom: 1px solid #ccc;
}

.menu-list {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}

.menu-item {
  display: table-cell;
  min-width: 50px;
  border-right: 1px solid #ccc;
  position: relative;
}

.menu-item:first-child {
  border-left: 1px solid #ccc;
}

.menu-item a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #aaa;
}

.menu-item a:hover {
  background-color: bisque;
  border-bottom: 5px solid bisque 
}

.menu-item.current {
  font-weight: bold;
}

.menu-item.current a {
  border-bottom: 5px solid #00B0F0;
  color: #00B0F0;
}

.menu-item:hover .drop-menu-list {
  transform: scaleY(1);
}

.drop-menu-list {
  display: block;
  left: 0;
  position: absolute;
  top: 100%;
  transform: scaleY(0);
  transform-origin: center top;
  transition: transform .3s;
  z-index: 1;
  width: 100%;
  list-style: none; 
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

.drop-menu-item {
  transition: opacity .3s;
  border: 1px solid #ccc;
  background-color: darksalmon;
}

.drop-menu-item a {
  color: #fff;
}

.onsen-list {
  background: url("https://www.fukei-kabegami.com/photo/fukei-kabegami/member/m000552/m000552_k00009900_1024-768.jpg") no-repeat center center;
  background-size: cover;
  min-height: 85vh;
}
