<div class="footer-content">
  <p class="footer-copyright">&copy; 2024 ri914. All Rights Reserved.</p>
  <p class="footer-description">温泉マッチングは、ユーザーが自分の好みに合った温泉地を見つけるためのマッチングサービスです。</p>
  <p class="footer-skills">使用技術: <span>Ruby on Rails, HTML, CSS, JavaScript, Bootstrap</span></p>
  <p class="footer-contact">お問い合わせ: <a href="mailto:issue914@gmail.com">issue914@gmail.com</a></p>    
  <div class="footer-social-media">
    <a href="https://github.com/ri914" target="_blank" class="social-icon"><i class="fab fa-github"></i></a>
  </div>
</div>
